:root{
--white:hsl(0,100%,100%);
--black:hsl(0,0%,0%);

/*blue */
--blue950:hsl(233,39%,13%);
--blue900:hsl(234,39%,14%);
--blue850:hsl(235,35%,18%);
--blue100:hsl(227,100%,92%);
--blue50:hsl(229,52%,96%);


/*grey*/
--grey400:hsl(233,13%,76%);
--grey200:hsl(0,3%,89%);

/*other*/

--cyan300:hsl(182,91%,71%);
--red400:hsl(345, 100%, 65%);
--purple400:hsl(284,89%,74%);

/*gradients*/
--gradient-1:linear-gradient(0.75turn,hsl(235,32%,27%), hsl(234, 50%,11%));


/*spacing*/
--spacing-0: 0px;
--spacing-100: 8px;
--spacing-200: 16px;
--spacing-300: 24px;
--spacing-400: 32px;
--spacing-500: 40px;
--spacing-600: 48px;
--spacing-700: 56px;
--spacing-800: 64px;
--spacing-1000: 80px;


/*fonts*/
--space-mono:"Space Mono", monospace;
--kumbh-sans:"Kumbh Sans", sans-serif;
--roboto-slab:"Roboto Slab", serif;

/*line-height*/
--line-height120: 1.2;
--line-height125: 1.25;
--line-height130: 1.30;
--line-height145: 1.45;
--line-height150: 1.50;

/*font-size*/
--font-size100:6.25rem;
--font-size80:5rem;
--font-size14:.875rem;
--font-size12:.75rem;
--font-size13:.8125rem;
--font-size16:1rem;
--font-size32:2rem;

/*letter-spacing*/

--letter-spacing0: 0px;
--letter-spacing1: 1px;
--letter-spacing15: 15px;
--letter-spacing13: 13px;
--letter-spacing-10: -10px;
--letter-spacing5: 5px;
--letter-spacing-5: -5px;


/*manipulable styles through Javascript*/
--COLOR_THEME:var(--red400);
--FONT_THEME:var(--kumbh-sans);
}

/*defualt styles*/

*, *::before,*::after {
  box-sizing: border-box;

}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}


html {
  -webkit-text-size-adjust: 100%;
}


body {

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  line-height: 1.4;
  text-rendering: optimizeSpeed;
  font-size: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  background: var(--blue850);
  color: var(--white);
  font-family: var(--FONT_THEME)
}


img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}


input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, [role="button"] {
  cursor: pointer;
  background: none;
  
 
}


a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


ol, ul {
  list-style: none;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  
  width: 100%;
  &:focus {
    outline: 0;
  }
}

::-moz-placeholder {
  opacity: 1;
}

textarea {

  vertical-align: top;

  overflow: auto;
}


[type='checkbox'],
[type='radio'] {
  
  &:focus {
    outline: 0
  }
}


@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*utility classes*/

.flex-center-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





/* title and button styling*/

.title{
  font-size: var(--font-size32);
  letter-spacing: var(--letter-spacing1);
}
.list{
  padding: var(--spacing-100) var(--spacing-100);
  border-radius: 2rem;
  background-color: var(--blue950);
  
}
.list > .item {
  font-size: var(--font-size14);
  letter-spacing: var(--letter-spacing1);
  color: var(--grey400);
  padding: var(--spacing-200);
  border-radius: 2rem;
  cursor: pointer;
}

.list > .item[data-active="true"]{
  color: var(--blue950);
  background: var(--COLOR_THEME);
  
  }

.list > .item:active{
  color: var(--blue100);
}
/*timer style*/
.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);
}
.nav > .list {
  display: flex;
  gap: var(--spacing-500);
}
.box{
  width: 100px;
  height: 100px;
  background-color: black;
}
.timer-container{

  flex: 0.25;
  
}
.timer-bg{
    display: grid;
    place-items: center;
    width: 515px;
    height: 515px;
    background:var(--gradient-1);
    border-radius: 50%;
    box-shadow: -50px -30px 40px 5px  hsla(236, 32%, 27%, 0.369);
}
.timer-fg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue900);
    width: 480px;
    height: 480px;
    border-radius: 50%;
}

.time{
  position: absolute;
 
}
.circle-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
 
}

circle{
  fill: var(--blue900);
 stroke: var(--COLOR_THEME);
}


.clock{
  font-size: var(--font-size100);
}

.pause{
  font-size: var(--font-size16);
  letter-spacing: var(--letter-spacing13);
  text-transform: uppercase;
}
.pause:active{
  color: var(--red400);
}

.setting{
  margin-top: auto;
 
}

.setting  .setting-icon{
  fill: var(--grey400);
  cursor: pointer;
}

.setting .setting-icon:hover{
  fill: var(--grey200);
}

/* dialog styling*/

.settings-dialog{
  align-self: center;
  justify-self: center;
  background: var(--white);
  border-radius: 1rem;
}
.dialog-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-400);

 

}

.dialog-body{
  padding: var(--spacing-400) var(--spacing-400) var(--spacing-500) var(--spacing-400);
}
.line{
  
  height: 1px;
  width: 100%;
  background: var(--grey200);
}
.border-bottom{
   border-bottom: 1px solid var(--grey200);
}
.dialog-head .dialog-heading{
  font-size: var(--font-size32);
}



.input-group{
  display: flex;

}
.time-row{
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
}
.row{
  display: flex;
  justify-content: space-between;
}
.time-inputs legend{
  margin-bottom: var(--spacing-200);
}

fieldset  legend, .time-inputs input {
  letter-spacing: var(--letter-spacing5);
}

/*styling arrows for input[type = number] */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
   
  opacity: 1;
}
.time-inputs label{
  color: var(--grey400);
}
.time-inputs input{
  background: var(--blue50);
  padding: var(--spacing-100);
  width: 100%;
  
  border-radius: 0.5rem;
}

.padding-bottom-24{
  padding-bottom: var(--spacing-300);
}
.padding-top-24{
  padding-top: var(--spacing-300);
}


/*radio button styling*/

.input-group{
  display: flex;
  gap: var(--spacing-200);
}

.font-input label{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--blue50);
  border-radius: 50%;
 
}

.font-input  .kumbh-display{
  font-family: var(--kumbh-sans);
  
}

.font-input  .space-display{
  font-family: var(--space-mono);
  
}

.font-input  .roboto-display{
  font-family: var(--roboto-slab);
  
}

/* .font-input label::after{
   content: "Aa";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: red;
 
 
} */


input[type=radio]{
  display: none;
}
 .font-input input:checked + label{
  font-weight: bold;
  color: var(--white);
  background-color: var(--blue900);
}
.color-input,.font-input{
  display: flex;
  position: relative;
  
}
.input-group .disappear {
  display: none;
}
.red-style,.purple-style,.cyan-style{
  width: 2.5rem;
  
  height: 2.5rem;
  border-radius: 50%;
 
}
.red-style{
  background-color: var(--red400);
}
.purple-style{
  background-color: var(--purple400);
}
.cyan-style{
  background-color: var(--cyan300);
}

.dialog-font-content label, .dialog-color-content label{
  cursor: pointer;
}

/*check marks for the color radio buttons */
.color-input input:checked + label::after{
 
  content: '\2713';
  color: var(--blue900);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.time-row input{

 margin-top: var(--spacing-100);
}


form{
  background: var(--white);
}
.settings-dialog{
  position: relative;
  background: transparent;
  width: 100%;
  max-width: 550px;
  height: 100%;
  max-height: 30.5rem;
}
.dialog-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0%);
  background-color: var(--red400);
  color:var(--white);
  padding: var(--spacing-200) var(--spacing-500);
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}

.dialog-btn:hover{
  background-color: hsl(345, 100%, 69%);
}


